{% load static %}
<!DOCTYPE html>
<html lang="ru">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<head>
	<title>
		Site
	</title>
	<link rel="stylesheet" href="{% static 'main/css/site.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/обнуление.css' %}">
	<script src = "{% static 'main/js/code.js' %}"></script>
</head>
<body>
 <div id="parent">
	<div></div>
    <div><button class="tablinks" onclick="openCity,hiddenCloseclick(event, 'Главная')">Главная</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'История')">История</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Устройство')">Устройство</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Применение')">Применение</button></div>
  <div></div>
 </div>
   

	<img id="hidden-element" src="../../static/main/img/шапка3.jpg" width="1500" height="400">


 <div id="Главная" class="tabcontent">
</div>

<div id="История" class="tabcontent">
	<img src="чип.jpg" width="1500" height="400">
	 <h2>История создания</h2>
 <div class="text">
 <p>Международная группа ученых разработала технологию искусственного интеллекта, которая объединяет обработку изображений, машинное обучение и память в одном электронном чипе, работающем только от света. 
Прототип технологии полностью имитирует механизм обработки визуальной информации человеческим мозгом.
А это уже серьезный шаг к новой системе «мозг на кристалле», которая может обучаться по тому же принципу, что и люди.</p>
<p>Прототип светового чипа разработала международная группа, состоящая из австралийских, американских и китайских исследователей под руководством специалистов из Университета RMIT (Мельбурнского королевского технологического университета в Австралии). 
Результаты опубликованы в журнале Advanced Materials.</p>
<p>Ученые задавались целью воспроизвести способность человеческого мозга обучаться на основе увиденного, то есть механизм запоминания чего-то, что мы видим.</p>
<p>Обычно искусственный интеллект полагается на программное обеспечение и обработку данных при помощи алгоритмов. Новая же разработка объединяет в себе  электронное оборудование и ИИ. 
В результате ИИ способен быстро принимать решения.</p>
<p>Представьте себе видеорегистратор в автомобиле, который работает на основе такого чипа. Он способен распознавать огни, знаки, объекты на дороге и принимать мгновенные решения без необходимости подключения к интернету.</p>
</div>
</div>

<div id="Устройство" class="tabcontent">
 	<img src="чиппер.png" width="1500" height="400">
 	<h2>Устройство чипа</h2>
 	<div class="text">
 		<p>В основе нового чипа — прототип ранней версии RMIT. 
Устройство с помощью света запоминало и хранило данные.</p>
<p>Основа чипа — сверхтонкие пластины черного фосфора. 
Это вещество с металлическим блеском, внешне напоминающего графит. 
Черный фосфор проводит ток и обладает свойствами полупроводника. 
Также он может изменять электрическое сопротивление в зависимости от длины световой волны. 
За счет разноцветного освещения микросхемы удалось научить чип воспринимать и запоминать изображения.</p>
<p>С самого начала ученые предполагали, что удастся создать технологию, повторяющую принцип запоминания человеческого мозга, а именно — его способность обучаться на основе увиденного.</p>
<p>Новый ИИ на основе светового чипа считывает, улучшает изображения, классифицирует данные и числа, он обучен распознаванию визуального контента с точностью более 90%.</p>
 	</div>
</div>

<div id="Применение" class="tabcontent">
   <img src="нейралинк.png" width="1500" height="400">
   <h2>Применение</h2>
   <div class="text">
   	<p>Новая разработка, при условии ее «выхода в свет», способна дать толчок развитию нейроробототехники.
Технологию можно будет применять в таких устройствах, как:
дроны и роботы;
носимые гаджеты;
умная техника;
бионические импланты.</p>
<p>Применение в бионике особенно важно: результаты могут быть использованы в медицине. 
И, например, привести к уменьшению размеров и увеличению точности бионических глаз.</p>
<p>Бионический глаз — носимое устройство, способное частично заменить обычный орган зрения. 
В поврежденное глазное яблоко имплантируется искусственная сетчатка, потом запускаются сохранившиеся нейрорецепторы.</p>
<p>Также чип совместим с кремниевыми технологиями, его можно интегрировать в различные устройства.</p>
<p>Простой пример — автомобильный видеорегистратор. 
Если девайс будет содержать такой чип, то без проблем распознает встречные огни, дорожные объекты, знаки, полосы, а потом начнет принимать определенные решения даже без подключения к интернету.</p>
   </div>
</div>

</body>
</html>
